<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Notatki</title>
        <meta charset="utf-8">
        <link href="../styles/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h2> Notatki </h2>
        </header>

        <section>

            <h3>Wylogowano!</h3>
            <h2><a href="/login/">Powrót</a></h2>
        </section>

        <footer>
            <p class="footer-inline left">&copy; Marcin Baranowski 299234</p>
        </footer>
    </body>
</html>