<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Notatki</title>
        <meta charset="utf-8">
        <link href="../styles/style.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <header>
            <h2> Notatki </h2>
        </header>
        <div class="topnav">
            <a class="active" href="/my/">Moje notatki</a>
            <a href="/notes/">Nowa</a>
            <a href="/public/">Publiczne</a>
            <a href="/shared/">Udostępnione</a>
            <a href="/logout/">Wyloguj się</a>
          </div>
        <section>
            <h2>Moje notatki </h2>
            <ul>
                {% for note in notes %}
                    <li><h3><a href="/my/{{note.id}}">{{ note.name }}</a></h3></li>
                {% endfor %}
            </ul>
        </section>
    </body>
</html>
