<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Notatki</title>
        <meta charset="utf-8">
        <link href="../styles/style.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <header>
            <h2> Notatki </h2>
        </header>
        <div class="topnav">
            <a href="/login/">Logowanie</a>
            <a href="/register/">Rejestracja</a>
        </div>
        <section>

            <h3>Ustaw nowe hasło</h3>
            Na Tój adres e-mail został wysłany kod do zmiany hasła. 
            (Tak naprawdę to nie został, bo wysłanie maila to większa magia niż nginx i jest to tylko symulacja tego modułu, a kod (identyczny dla wszystkich, bo symulacja) jest podany w readme ).
            <form action="https://localhost:8080/reset/" method="POST" id="registration-form" class="registration-form">
                <div class="registration-div">
                    <label class="registration-label" for="login">Login</label>
                    <br>
                    <input class="registration-input" id="login" type="text" name="login"/>
                </div>

                <div class="registration-div">
                    <label class="registration-label" for="code" >Super tajny kod</label>
                    <br>
                    <input class="registration-input" id="code" type="password" name="code"/>
                </div > 

                <div class="registration-div">
                    <label class="registration-label" for="password" >Nowe hasło</label>
                    <br>
                    <input class="registration-input" id="password" type="password" name="password"/>
                </div >  

                <input class="submit-button" id="button-log-form" type="submit" value="Potwierdź"/>     
                {{info}}
            </form>
        </section>

        <footer>
            <p class="footer-inline left">&copy; Marcin Baranowski 299234</p>
        </footer>
    </body>
</html>