<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Notatki</title>
        <meta charset="utf-8">
        <link href="../styles/style.css" rel="stylesheet" type="text/css">
        <script src="../scripts/login.js"></script>

    </head>
    <body>
        <header>
            <h2> Notatki </h2>
        </header>
        <div class="topnav">
            <a href="/login/">Logowanie</a>
            <a href="/register/">Rejestracja</a>
        </div>
        <section>

            <h3>Błędny login lub hasło</h3>
            Po 10 nieudanych próbach Twój adres IP zostanie zablokowany.
        </section>

        <footer>
            <p class="footer-inline left">&copy; Marcin Baranowski 299234</p>
        </footer>
    </body>
</html>