<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Brak autoryzaji </title>
    <meta charset="utf-8">
    
</head>

<body>
    <header>
        <h2> Notatki </h2>
    </header>
        
    <section>
        <h1>401 :(</h1>
        <p>
            Nie jesteś zautoryzowany!!
            <br>
            <a href="https://localhost:8080/">Zawróć, jeśli możesz.</a>
        </p>
        <p>
            <strong>Szczegóły błędu:</strong>
            {{error}}
        </p>
    </section>
</body>

</html>