<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Brak dostępu </title>
    <meta charset="utf-8">
    
</head>

<body>
    <header>
        <h2> Notatki </h2>
    </header>
        
    <section>
        <h1>403 :(</h1>
        <p>
            Nie masz dostępu, uciekaj z tego miejsa!
            <br>
            <a href="https://localhost:8080/">Strona domowa czeka</a>
        </p>
        <p>
            <strong>Szczegóły błędu:</strong>
            {{error}}
        </p>
    </section>
</body>

</html>