<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Błąd serwera </title>
    <meta charset="utf-8">
    
</head>

<body>
    <header>
        <h2> Notatki </h2>
    </header>
        
    <section>
        <h1>Serwer sie zakałapućkał i spadł z rowerka</h1>
        <p>
            Nie powinien, no ale cóż...
            <a href="https://localhost:8080/">Zawróć, jeśli możesz.</a>
        </p>
        <p>
            <strong>Szczegóły błędu:</strong>
            {{error}}
        </p>
    </section>
</body>

</html>